In [2]:
from math import *

def soma(x,y):
    return x+y

In [6]:
print(soma(10,5))

15

In [14]:
#ex 2 - crie 3 funções: subtração, multiplicação, divisão

def subtracao(x,y):
    return x-y

def multiplicacao(x,y):
    return x*y

def divisao(x,y):
    return x/y

In [15]:
print(subtracao(3,1))

2

In [16]:
# crie uma função para calcular a area de um quadrado
la = int(input('qual é o tamanho do lado ou altura?'))
def calcAreaQuadrado(la):
    return la*la

print(calcAreaQuadrado(la))

4

In [17]:
# Crie uma função para calcular a area de um retângulo
l = int(input("qual é o lado?"))
a = int(input("qual é a altura?"))
def calcAreaRetangulo(l,a):
    return l*a

print(calcAreaRetangulo(l,a))

8

In [ ]:
# Crie uma função para calcular a area de um circulo
r = int(input('qual é o raio?'))
def calcAreaCirculo(r):
    return pi*(r**2)

print(calcAreaCirculo(r))

In [ ]:
# Crie uma função para transformar temperatura fahrenreiht em celsius
# °C = (°F - 32) × 5/9
f = int(input('Qual é a temperatura em fahrenreitht?'))
def calcFahrCels(f):
    return (f-32)*5/9

print(calcFahrCels(f))

In [18]:

# crie uma função que calcule a soma dos valores de uma lista.

lista = [10,15,20,25,30]
def somaLista(lista):
    soma = 0
    for i in lista:
        soma += i
    return soma

print(somaLista(lista))

100

In [20]:
# crie uma função que calcule os valores da equação de uma reta, solicite o valor de a, x e b
# f(x) = a*x+b
a = int(input('qual é o valor de a'))
x = int(input('qual é o valor de x'))
b = int(input('qual é o valor de b'))


def valEqReta(a,x,b):
    return a*x+b

print(f'F(x) = {valEqReta(a,x,b)}')

F(x) = 13

In [25]:
#7 crie uma função que retorne se o valor inserido pelo usuário é par ou impar

val = int(input('insira um valor: '))

def parOuImpar(val):
    return 'par' if (val %2 == 0) else 'impar'

print(parOuImpar(val))

par

In [37]:
#8 crie uma função para calcular a média dos valores de uma lista

print("QUANDO O 0 É ADICIONADO ELE AUTOMATICAMENTE PARTE PARA FAZER A CONTA, USE 0 APENAS QUANDO TERMINAR DE ADICIONAR OS VALORES")
num_a_calcular = [1,]
numAdd = float(input("Insira seu número: "))
while numAdd != 0: 
    num_a_calcular.append(numAdd)
    numAdd = float(input("Insira o próximo valor: "))


def calculate_average(num_a_calcular):
    
    
    soma = sum(num_a_calcular[1:])
    divisor = len(num_a_calcular[1:])

    med = soma / divisor

    print("Média:", med)

# Call the function to execute it
calculate_average(num_a_calcular)

QUANDO O 0 É ADICIONADO ELE AUTOMATICAMENTE PARTE PARA FAZER A CONTA, USE 0 APENAS QUANDO TERMINAR DE ADICIONAR OS VALORES
Média: 9.0

In [36]:
#9 crie uma função que solicite 3 valores para o usuário, em seguida, calcule a soma e a média destes valores.
listaVal = []
for i in range(5):
        listaVal.append(int(input('insira um valor: ')))

def calcListaVal(lista):

    soma = sum(lista)
    media = soma / len(lista)
    return(f'soma = {soma}, média = {media}')

print(calcListaVal(listaVal))

soma = 30, média = 10.0

In [41]:
#10 crie uma função que solicite 5 palavras, em seguida, crie uma estrutura para deixar essas palavras em uma lista

listaPalavras = []
def addListaPalavra(lista):
    for i in range(5):
        lista.append(input('insira uma palavra: '))

    return lista

listaPalavras = addListaPalavra(listaPalavras)
print(listaPalavras)

['Zǎoshang hǎo zhōngguó xiànzài wǒ yǒu BING CHILLING 🥶🍦 wǒ hěn xǐhuān BING CHILLING 🥶🍦 dànshì sùdù yǔ jīqíng 9 bǐ BING CHILLING 🥶🍦 sùdù yǔ jīqíng sùdù yǔ jīqíng 9 wǒ zuì xǐhuān suǒyǐ…xiànzài shì yīnyuè shíjiān zhǔnbèi 1 2 3 liǎng gè lǐbài yǐhòu sùdù yǔ jīqíng 9 ×3 bùyào wàngjì bùyào cu òguò jìdé qù diànyǐngyuàn kàn sùdù yǔ jīqíng 9 yīn wéi fēicháng hǎo diànyǐng dòngzuò fēicháng hǎo chàbùduō yīyàng BING CHILLING 🥶🍦zàijiàn 🥶🍦', 'Zǎoshang hǎo zhōngguó xiànzài wǒ yǒu BING CHILLING 🥶🍦 wǒ hěn xǐhuān BING CHILLING 🥶🍦 dànshì sùdù yǔ jīqíng 9 bǐ BING CHILLING 🥶🍦 sùdù yǔ jīqíng sùdù yǔ jīqíng 9 wǒ zuì xǐhuān suǒyǐ…xiànzài shì yīnyuè shíjiān zhǔnbèi 1 2 3 liǎng gè lǐbài yǐhòu sùdù yǔ jīqíng 9 ×3 bùyào wàngjì bùyào cu òguò jìdé qù diànyǐngyuàn kàn sùdù yǔ jīqíng 9 yīn wéi fēicháng hǎo diànyǐng dòngzuò fēicháng hǎo chàbùduō yīyàng BING CHILLING 🥶🍦zàijiàn 🥶🍦', 'Zǎoshang hǎo zhōngguó xiànzài wǒ yǒu BING CHILLING 🥶🍦 wǒ hěn xǐhuān BING CHILLING 🥶🍦 dànshì sùdù yǔ jīqíng 9 bǐ BING CHILLING 🥶🍦 sùdù yǔ jīqíng sùdù yǔ jīqíng 9 wǒ zuì xǐhuān suǒyǐ…xiànzài shì yīnyuè shíjiān zhǔnbèi 1 2 3 liǎng gè lǐbài yǐhòu sùdù yǔ jīqíng 9 ×3 bùyào wàngjì bùyào cu òguò jìdé qù diànyǐngyuàn kàn sùdù yǔ jīqíng 9 yīn wéi fēicháng hǎo diànyǐng dòngzuò fēicháng hǎo chàbùduō yīyàng BING CHILLING 🥶🍦zàijiàn 🥶🍦', 'Zǎoshang hǎo zhōngguó xiànzài wǒ yǒu BING CHILLING 🥶🍦 wǒ hěn xǐhuān BING CHILLING 🥶🍦 dànshì sùdù yǔ jīqíng 9 bǐ BING CHILLING 🥶🍦 sùdù yǔ jīqíng sùdù yǔ jīqíng 9 wǒ zuì xǐhuān suǒyǐ…xiànzài shì yīnyuè shíjiān zhǔnbèi 1 2 3 liǎng gè lǐbài yǐhòu sùdù yǔ jīqíng 9 ×3 bùyào wàngjì bùyào cu òguò jìdé qù diànyǐngyuàn kàn sùdù yǔ jīqíng 9 yīn wéi fēicháng hǎo diànyǐng dòngzuò fēicháng hǎo chàbùduō yīyàng BING CHILLING 🥶🍦zàijiàn 🥶🍦', 'Zǎoshang hǎo zhōngguó xiànzài wǒ yǒu BING CHILLING 🥶🍦 wǒ hěn xǐhuān BING CHILLING 🥶🍦 dànshì sùdù yǔ jīqíng 9 bǐ BING CHILLING 🥶🍦 sùdù yǔ jīqíng sùdù yǔ jīqíng 9 wǒ zuì xǐhuān suǒyǐ…xiànzài shì yīnyuè shíjiān zhǔnbèi 1 2 3 liǎng gè lǐbài yǐhòu sùdù yǔ jīqíng 9 ×3 bùyào wàngjì bùyào cu òguò jìdé qù diànyǐngyuàn kàn sùdù yǔ jīqíng 9 yīn wéi fēicháng hǎo diànyǐng dòngzuò fēicháng hǎo chàbùduō yīyàng BING CHILLING 🥶🍦zàijiàn 🥶🍦']

In [46]:
import pandas as pd
# criar um dataframe

dados = {'nome':['joao','ana','pedro'],
         'idade':[20,30,32],
         'salario':[1000,2000,1500]
         }

df = pd.DataFrame(dados)

df

    nome  idade  salario
0   joao     20     1000
1    ana     30     2000
2  pedro     32     1500

In [50]:
nums = {
         'num1':[20,30,32],
         'num2':[1000,2000,1500]
         }

df = pd.DataFrame(nums)

df

   num1  num2
0    20  1000
1    30  2000
2    32  1500

In [49]:
def soma_linha(df):
    """Somar os valores de linhas em df"""
    return df['num1'] + df['num2']

In [51]:
df['soma'] = soma_linha(df)
df

   num1  num2  soma
0    20  1000  1020
1    30  2000  2030
2    32  1500  1532